<footer>
 <h2 id = "supporters"> CarpentryConnect South Africa is made possible by:</h2>
 <br>
  <div>
    <p><a href = "https://codeforscience.org"><img src="https://blog.codeforscience.org/content/images/size/w600/2018/10/Blue-logo-black-text.png" width=70%/></a></p>
     <p >Code for Science and Society funded this event fully through its <a href ="https://eventfund.codeforscience.org">Event Fund</a>.</p>
     </div>
     <br>
     <div>
       <p><a href = "https://carpentries.org/"><img src="https://carpentries.org/assets/img/TheCarpentries.svg"></a><br>
       <p>The Carpentries organisation has undersigned and supports this event fully.</p>
    </div>
    <br><br>
    
  <h2 id = "organisers"> A big thank you to CarpentryConnect South Africa's 2021 organising committee:</h2>
  <br>
  <table class="blurbs">
   <tr>
    <td>
     <input id="blurb-1"
         class="blurb-selector"
         type="checkbox"/>
     <div class="blurb">
      <label class="image"
       for="blurb-1"
       style="background-image: url(https://avatars.githubusercontent.com/u/28295969?v=4); background-color: #ffffff;">
      </label>
      <p><strong>Angelique Trusler</strong></p>
      <p >The Carpentries</p>
     </div>

     <input id="blurb-2"
         class="blurb-selector"
         type="checkbox"/>
    <div class="blurb">
     <label class="image"
      for="blurb-2"
      style="background-image: url(https://avatars.githubusercontent.com/u/59017967?s=120&v=4);background-color: #ffffff;">
     </label>
       <p><strong>Sarah Kate Schafer</strong></p>
       <p >University of the Western Cape, South Africa</p>
  </div>

    <input id="blurb-3"
        class="blurb-selector"
        type="checkbox"/>
   <div class="blurb">
    <label class="image"
     for="blurb-3"
     style="background-image: url(https://avatars.githubusercontent.com/u/24529991?s=96&v=4);background-color: #ffffff;">
    </label>
      <p><strong>Sebastian Mosidi</strong></p>
      <p>North West University, South Africa</p>
   </div>
   
   <input id="blurb-4"
       class="blurb-selector"
       type="checkbox"/>
  <div class="blurb">
   <label class="image"
    for="blurb-4"
    style="background-image: url(https://github.com/carpentries/logo/blob/master/Badge_Carpentries.png?raw=true);background-color: #ffffff;">
   </label>
   <p><strong>Mmasibidi Setaka</strong></p>
   <p>South African Centre for Digital Language Resources</p>
  </div>
   </td>
  </tr>

  </table>
  
  

 <p> We strive to be a supportive and welcoming environment to all attendees. We encourage you to read the <a href="/coc/" title="Carpentries Code of Conduct">Carpentries Code of Conduct</a> as we will be enforcing it.</p>
  
 
 <p>The code for this website <a href="https://github.com/CarpentryConnect/za.carpentryconnect.org" title="CarpentryConnect South Africa website repo on GitHub">is open source</a>. &nbsp;
 Want to talk to us? <a href="mailto:admin-afr@carpentries.org" title="Email South Africa Regional Coordinator">Email us today.</a> or join the <a href = "https://carpentries.topicbox.com/groups/local-africa">Carpentries in Africa mailing list</a>.</p>
</footer>
