
<div class="header">
 <h2><a href="{{ site.baseurl }}">CarpentryConnect ZA 2021</a></h2>
 <ul class="menu">
  <li>
   <a class="button" href="{{ site.url }}" title="home">Home</a>
  </li>
  <li>
   <a title="About CarpentryConnect ZA" class="button" href="{{ site.baseurl }}/#about">About</a>
  </li>
  <li>
   <a title="CarpentryConnect ZA Schedule" class="button" href="{{ site.baseurl }}/#schedule">Schedule</a>
  </li>
  <li>
   <a title="Participate in CarpentryConnect ZA" class="button" href="{{ site.baseurl }}/#participate">Participate</a>
  </li>
  <li>
   <a title="CarpentryConnect ZA Supporters" class="button" href="{{ site.baseurl }}/#supporters">Supporters</a>
  </li>
  <li>
   <a title="CarpentryConnect ZA Organisers" class="button" href="{{ site.baseurl }}/#organisers">Organisers</a>
  </li>
  <li>
    <a class="button" href="{{ site.baseurl }}/coc" title="Carpentries CoC">Code of Conduct</a>
   </li>
 </ul>
</div>
