
<div class="header">
 <h2><a href="/">CarpentryConnect ZA 2021</a></h2>
 <ul class="menu">
  <li>
   <a class="button" href="/" title="home">Home</a>
  </li>
  <li>
   <a title="About CarpentryConnect ZA" class="button" href="/#about" ">About</a>
  </li>
  <li>
   <a title="CarpentryConnect ZA Schedule" class="button" href="/#schedule">Schedule</a>
  </li>
  <li>
   <a title="Participate in CarpentryConnect ZA" class="button" href="/#participate">Participate</a>
  </li>
  <li>
   <a title="CarpentryConnect ZA Supporters" class="button" href="/#supporters">Supporters</a>
  </li>
  <li>
   <a title="CarpentryConnect ZA Organisers" class="button" href="/#organisers">Organisers</a>
  </li>
  <li>
    <a class="button" href="/coc" title="Carpentries CoC">Code of Conduct</a>
   </li>
 </ul>
</div>
